<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jesus Christ Power of Glory International Ministries</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/jcpgimhome.css')}}">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>Jesus Christ Power of Glory International Ministries</h1>
            </div>
        </div>
    </header>

    <section id="pastorMessage">
        <h2>Message from the Pastor</h2>
        <p style="text-align: center;">"Welcome to Jesus Christ Power of Glory International Ministries. We are here to guide you on your spiritual journey and bring you closer to God's love and blessings."</p>
        <p style="text-align: center;">K.Ravi Kumar Garu</p>
    </section>

    <section id="liveLinks">
        <h2>Live Links</h2>
        <div class="live-links">
            <a href="https://www.youtube.com/@jcpgimofficial27" target="_blank">WATCH LIVE</a>
            <a href="https://meet.google.com/pbp-qvtm-are" target="_blank">K.Ravi Kumar Garu Meeting</a>
            <a href="https://meet.google.com/ubd-ycgv-een" target="_blank">Abiel Madhuri Glory Garu Meeting</a>
        </div>
    </section>

    <section id="socialMedia">
        <h2>Connect with Us on Social Media</h2>
        <div class="social-media">
            <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i> Facebook</a>
            <a href="https://whatsapp.com/channel/0029VaJ4FCT3AzNJ64QPYe2S" target="_blank"><i class="fab fa-whatsapp"></i> WhatsApp</a>
            <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
        </div>
    </section>

    <footer>
        <p>Jesus Christ Power of Glory International Ministries, Copyright &copy; 2023</p>
    </footer>
</body>
</html>
